/*=========================
SERVICE BOXES
==========================*/

.service-box{

    background:#fff;

    border-radius:20px;

    padding:35px;

    text-align:center;

    height:100%;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    transition:.35s;

}

.service-box:hover{

    transform:translateY(-10px);

}

.service-box i{

    font-size:50px;

    color:#D4AF37;

    margin-bottom:20px;

}

.service-box h4{

    color:#0B3D91;

    margin-bottom:15px;

    font-weight:700;

}

.service-box p{

    color:#666;

    margin-bottom:25px;

}
/*==============================
FEATURED SERVICES
==============================*/

.featured-service{

    background:#fff;

}

.service-tag{

    display:inline-block;

    background:#D4AF37;

    color:#081B3A;

    padding:8px 18px;

    border-radius:50px;

    font-size:14px;

    font-weight:700;

    margin-bottom:20px;

}

.service-list{

    list-style:none;

    padding:0;

    margin:30px 0;

}

.service-list li{

    padding:10px 0;

    font-size:17px;

}